
.dashboard-container{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.description-container{
    display: flex;
    flex-direction: column;
    justify-content:center;
    height: 70vh;
    align-items: left;
 /*   border: 1px blue solid;*/
}

h1{ 
    font-size: 5rem;
    font-weight: 500;
    margin:0;
    line-height: 110px;
 /*   border:1px solid red;*/
}
p{
    width: 35%;
    margin:0;
    font-family: 'Montserrat', sans-serif;
}

span{
    color:#00704A;
    font-weight:900;
}

.btn-learn{
    width:fit-content;
    margin-top: 20px;
    padding: 8px 20px 8px 20px;
    border: none;
    background-color:#00704A;
    color:white;    
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 20px;
}